.client .swiper-button-prev {
  padding: 16px;
  border: 2px solid #c3c3c3;
  left: -18px !important;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #c3c3c3 !important;
  --swiper-navigation-size: 17px !important;
}

.client .swiper-button-next {
  padding: 16px;
  border: 2px solid #c3c3c3;
  right: -18px !important;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #c3c3c3 !important;
  --swiper-navigation-size: 17px !important;
}

.client .swiper-button-prev:hover {
  background-color: aliceblue;
}

.client .swiper-button-next:hover {
  background-color: aliceblue;
}
